* {
    margin: 0;
    padding: 0;
}

body {
    background: #141414;
    color: #ffffff;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

@font-face {
    font-family: Netflix Sans;
    src : url(/32.netflix/assets/fonts/NetflixSans/NetflixSans-Bold.otf);
    src : url(/32.netflix/assets/fonts/NetflixSans/NetflixSans-Light.otf);
    src : url(/32.netflix/assets/fonts/NetflixSans/NetflixSans-Medium.otf);
    src : url(/32.netflix/assets/fonts/NetflixSans/NetflixSans-Regular.otf);
}
